/*------------------------------------*\
	#TYPOGRAPY
\*------------------------------------*/

/**
* Headings
*/

@include headings() {
	margin-top: $spacing-unit;
	margin-bottom: $spacing-unit;

	a {
		color: inherit;
		text-decoration: none;

		&:focus,
		&:hover {
			color: inherit;
			text-decoration: none;
		}
	}
}

h1, .u-h1, h2, .u-h2, h3, .u-h3, h4, .u-h4, h5, .u-h5, h6, .u-h6 {
	font-family: $font-family-secondary;
	font-weight: font-weight('regular');
	color: color('black');
	line-height: 1;

	& span {
		color: color('accent-1');
	}
}

h1, .u-h1 {
	font-size: rem(52px);

	@include media-breakpoint-up(sm) {
		font-size: rem(80px);
	}
}

h2, .u-h2 {
	font-size: rem(40px);

	@include media-breakpoint-up(sm) {
		font-size: rem(60px);
	}
}

h3, .u-h3 {
	font-size: rem(32px);

	@include media-breakpoint-up(sm) {
		font-size: rem(52px);
	}
}

h4, .u-h4 {
	font-size: rem(28px);

	@include media-breakpoint-up(sm) {
		font-size: rem(36px);
	}
}

h5, .u-h5 {
	font-size: rem(20px);

	@include media-breakpoint-up(sm) {
		font-size: rem(28px);
	}
}

h6, .u-h6 {
	font-size: rem(14px);

	@include media-breakpoint-up(sm) {
		font-size: rem(18px);
	}
}

/**
* Paragraphs
*/
p {
	margin-top: 0;
	margin-bottom: $spacing-unit;
}


/**
* Lists
*/
ul, ol, dl {
	margin: $spacing-unit;
	padding-left: $spacing-unit;
	padding-right: $spacing-unit;

	& & {
		margin: 0;
	}
}

/**
* Horizontal Line
*/

hr {
	border-width: 2px 0 0;
	border-color: color('accent-1');
	border-style: solid;
	margin-top: $spacing-unit;
	margin-bottom: $spacing-unit;
	clear: both;
}

/**
* Images
*/
img {
	margin-top: halve($spacing-unit);
	margin-bottom: halve($spacing-unit);
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}


/**
* Figure
*/
figure {
	margin: 0;
	padding: 0;
}

/**
* Address
*/
address {
    font-style: normal;
    line-height: 2;
    font-size: 1.11rem;
}

/**
* Blockquote
*/
blockquote {
	border-left: 5px color('accent-1') solid;
	font-size: inherit;
	margin: $spacing-unit 0;
	clear: both;
	padding: halve($spacing-unit) $spacing-unit;

	cite {
		font-size: rem(14px);

		&::before {
			content: '-';
		}
	}
}

/**
* Link Styles
*/
a {
	color: color('accent-1');
	transition: all .3s ease-in-out;
	text-decoration: underline;

	@include link-states() {
		text-decoration: none;
		color: color('accent-3');
	}
}
