/*------------------------------------*\
    #CASES
\*------------------------------------*/

.c-cases {

    & .slick-list,
    & .c-carousel__item {
        padding: 0 !important;
    }
}

.c-cases__item {
    text-align: center;
    transition: all .5s ease-in-out;
    transform: scale(1);
    transform-origin: 50% 50%;
    padding: double($spacing-unit);

    @include media-breakpoint-up(sm) {
        padding: quadruple($spacing-unit) double($spacing-unit);
    }

    @include link-states() {
        transform: scale(1.05);
        background-color: color('accent-3');

        & .c-cases__icon {
            mix-blend-mode: color-burn;
        }
    }
}

.c-cases__icon {
    max-width: 90px;
    transition: all .5s ease-in-out;
}

.c-cases__revenue {
    font-family: $font-family-tertiary;
    font-size: rem(32px);
    line-height: 1;
    color: color('white');
    transition: all .5s ease-in-out;

    @include media-breakpoint-up(sm) {
        font-size: rem(48px);
    }
}

.c-cases__description {
    font-family: $font-family-secondary;
    color: color('white');
    transition: all .5s ease-in-out;
}

.c-cases-block__items {
    display: grid;
    grid-gap: rem(20px);
    margin-top: double($spacing-unit);

    @include media-breakpoint-up(xs) {
        grid-gap: rem(30px);
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-cases-block__item {
    background-color: color('white');
    border-bottom: 15px solid color('accent-3');
    padding: double($spacing-unit);
    box-shadow: 0 0 10px rgba(color('black'), 0.2);
    transition: all .5s ease-in-out;

    @include media-breakpoint-up(md) {
        padding: double($spacing-unit);
    }

    @include link-states() {
        background-color: color('accent-3');
        color: color('white');

        & .c-cases-block__title {
            color: color('white');
        }

        & .c-cases-block__description {
            border-color: color('white');
        }
    }
}

.c-cases-block__revenue {
    text-align: center;
    padding: 0 $spacing-unit;
}

.c-cases-block__description {
    padding: 0 $spacing-unit;
    border-left: 2px solid color('accent-3');
    transition: all .5s ease-in-out;
}

.c-cases-block__title {
    font-family: $font-family-tertiary;
    font-size: rem(52px);
    letter-spacing: 0;
    color: color('accent-1');
    margin: 0;
    transition: all .5s ease-in-out;
}

.c-cases-block__type {
    font-size: rem(24px);
    font-family: $font-family-tertiary;
    text-transform: uppercase;
}

