/*------------------------------------*\
    #CTA
\*------------------------------------*/

.c-cta-info {
    background-color: color('accent-2');
    padding: $spacing-unit;

    @include media-breakpoint-up(md) {
        padding: double($spacing-unit);
    }
}

.c-cta-primary__item {

    &:not(:last-child) {
        margin-bottom: $spacing-unit;
    }
}

.c-cta-primary__link {
    position: relative;
    padding: $spacing-unit;
    @include flexbox-block();
    flex-wrap: nowrap;
    text-decoration: none;
    align-items: center;

    @include media-breakpoint-up(lg) {
         padding: double($spacing-unit);
    }
}

.c-cta-primary__description {
    padding-left: double($spacing-unit);
    flex-grow: 1;
}

.c-cta-primary__content {
    max-width: 800px;
    margin: 0 auto;
}

.c-cta-primary__img {
    max-width: 90px;

    @include media-breakpoint-up(lg) {
        max-width: 150px;
    }
}

.c-cta-tertiary__link {
    text-decoration: none;

    @include link-states {
        & .c-cta-tertiary__description {
            background-color: color('accent-2');
        }
    }
}

.c-cta-tertiary__description {
    padding: $spacing-unit;
    color: color('white');
    transition: background-color .5s ease-in-out;
    background-color: color('accent-1');

    & p {
        margin: 0;
    }
}
