/*------------------------------------*\
    #EMBED
\*------------------------------------*/

/**
 * Responsive Media
 */

.c-embed {
	margin-top: halve($spacing-unit);
	margin-bottom: halve($spacing-unit);
}

.c-embed--respond {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.c-embed--respond iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
