/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

.c-footer__logo {
	max-width: 234px;
	margin: 0;
	display: block;

	@include media-breakpoint-up(md) {
		max-width: 334px;
	}
}

.c-footer__info-item {
	padding: halve($spacing-unit) $spacing-unit;
	@include flexbox-block();
	align-items: center;

	@include media-breakpoint-up(md) {
		padding: 0 $spacing-unit;
	}

	&:not(:first-child) {
		@include media-breakpoint-up(md) {
			border-left: 4px solid color('accent-3');
		}
	}
}

.c-footer__map {
	border-top: 3px solid color('accent-2');
	border-bottom: 3px solid color('accent-2');
}

.c-footer__info {
	color: color('white');
	font-weight: font-weight('semibold');
	padding-top: double($spacing-unit);
}

.c-footer__phone {

	& span {
		font-size: rem(26px);

		@include media-breakpoint-up(md) {
			font-size: rem(32px);
		}
	}

	@include link-states() {
		color: color('accent-1');
	}
} 

.c-footer__map-info-item {
	padding: halve($spacing-unit) 0;

	& a:not(.c-social__link) {
		@include flexbox-block();
		align-items: center;

		& > i {
			margin-right: halve($spacing-unit);
			font-size: rem(30px);
		}
	}
}

/* Resources */

.c-footer__resources-nav {

	& li {

		& a {
			font-family: $font-family-primary;
			color: color('white');
			display: block;
			text-decoration: none;
			font-size: rem(20px);

			@include link-states() {
				color: color('accent-2');
			}
		}
	}

	& .c-widget__title {
		color: color('white');
	}
}

.c-footer__list {

	& li {

		&:not(:last-child)::after {
			content: ' | ';
			color: color('white');
			margin: 0 quarter($spacing-unit);
		}

		& a {
			font-family: $font-family-primary;
			color: color('accent-1');
			display: inline-block;
    		text-decoration: none;

			@include link-states() {
				color: color('accent-2');
			}
		}
	}
}

/* Credits */

.c-footer__credits {
	color: color('white');
	display: inline-block;
}

.c-footer__links {
	line-height: 1;
	@include flexbox-block();
	justify-content: center;

	& li {

		&:not(:last-child)::after {
			content: ' | ';
			color: color('white');
			margin: 0 quarter($spacing-unit);
		}

		& a {
			font-family: $font-family-primary;
			color: color('white');
			padding: 0 quarter($spacing-unit);
			text-decoration: none;

			@include link-states() {
				color: color('accent-2');
			}
		}
	}
}
