/*------------------------------------*\
    #FORMS
\*------------------------------------*/

.c-form {
	position: relative;
	z-index: 10;
}

.c-forms__content {
	box-shadow: 0 0 50px rgba(color('black'), .1);
	margin-top: triple($spacing-unit);
}

.c-form__block {
	padding: $spacing-unit;

	@include media-breakpoint-up(sm) {
		padding: double($spacing-unit);
	}
}
