/*------------------------------------*\
	#HEADER
\*------------------------------------*/

.c-header {
	.logged-in & {
		top: 32px;
	}

	transition: all .5s ease;
	background-color: color('white');

	&.active {
		box-shadow: 0 0 25px rgba(color('black'), 0.5);
	}
}	

.c-header__phone-mobile {
	background-color: color('black');
	padding: halve($spacing-unit);
	text-align: center;
	transition: all .5s ease-in-out;
	display: block;
	text-decoration: none;

	@include media-breakpoint-up(sm) {
		display: none;
	}

	@include link-states() {
		color: color('accent-3');
	}
}

.c-header__cta {
	@include flexbox-block();
	align-items: center;
}

	.c-header__phone {
		font-weight: font-weight('medium');
		margin-right: $spacing-unit;
		text-transform: uppercase;
		font-family: $font-family-tertiary;
		color: color('black');
		text-decoration: none;
		font-size: rem(20px);

	    @include media-breakpoint-up(sm) {
			font-size: rem(24px);
	    }

		@include link-states() {
			color: color('accent-2');
		}
	}

		.c-mobile__link {
			text-decoration: none;
			padding: halve($spacing-unit) $spacing-unit;
			display: block;
			text-align: center;
			font-weight: font-weight('bold');

			@include link-states() {
				color: color('white');
			}

			& .fas {
				font-size: rem(24px);
			}
		}

		.c-mobile__number {
			font-size: rem(28px);
			line-height: 1;
		}

		.c-mobile__msg {
			text-transform: uppercase;
		}

		.c-mobile__phone  {
			background-color: color('accent-1');
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 10;
		}
