/*------------------------------------*\
    #ICONS
\*------------------------------------*/

svg[data-use] {
    height: 5em;
    width: 5em;
}

/**
* Generate color classes for each color in $colors
*/
@each $color, $value in $colors {

    .c-icon--#{$color} {
        fill: $value;
    }

}
