/*------------------------------------*\
    #LOGOS
\*------------------------------------*/

/**
 * Logo
*/

.c-logo {
	display: block;
	max-width: 134px;
	margin: 0;

	@include media-breakpoint-up(md) {
		max-width: 234px;
	}
}

.c-logo__nav {
    display: block;
    max-width: 180px;
    margin: $spacing-unit auto;
}