/*------------------------------------*\
    #LEAD
\*------------------------------------*/

.c-lead {
	font-size: rem(24px);
	line-height: 1.3;

	@include media-breakpoint-up(md) {
		font-size: rem(28px);
	}
}


.c-lead-secondary {
	font-family: $font-family-primary;
	font-size: rem(20px);
	line-height: 1.3;
    text-transform: uppercase;
    font-weight: font-weight('bold');
    letter-spacing: 2px;

	@include media-breakpoint-up(md) {
		font-size: rem(24px);
	}
}