/*------------------------------------*\
	#NAVIGATION
\*------------------------------------*/

.c-nav {
	background-color: color('black');
	padding: halve($spacing-unit) 0;

	@include media-breakpoint-up(sm) {
		padding: halve($spacing-unit) $spacing-unit;
	}
}


/**
* Navigation List Scroll Highlight
*/
.c-nav__hightlight {
	box-shadow: 0 0 10px transparentize(color('black'), 0.5);
}

.c-nav__mask {
	@include media-breakpoint-up(sm) {
		display: none;
	}
}


/**
* <ul> Navigation List
*/
.c-nav__list {
	@include list-unstyled;
	margin: 0;

	@include media-breakpoint-up(sm) {
		text-align: center;
	}
}

/**
* <li> Navigation List item
*/
.c-nav__item {
	position: relative;

	@include media-breakpoint-up(sm) {
		flex-grow: 1;
		display: inline-block;

		&:hover > .c-nav__dropdown {
			display: block;
		}
	}

	&.c-nav__item--active > .c-nav__link {
		color: color('accent-3');
		border-bottom: 1px solid color('accent-2');

		@include media-breakpoint-up(sm) {
			border: 0;
		}
	}
}

/**
* <a> Navigation List link
*/
.c-nav__link {
	display: block;
	padding: halve($spacing-unit) $spacing-unit;
	color: color('white');
	font-size: rem(16px);
	font-family: $font-family-primary;
	font-weight: font-weight('semibold');
	text-decoration: none;
	border-bottom: 1px solid rgba(color('white'), .2);
	text-transform: uppercase;

	@include media-breakpoint-up(sm) {
		padding: 0 halve($spacing-unit);
		border-bottom: 0;
	}

	@include link-states() {
		color: color('accent-3');
	}
}

/**
* Sub Navigation List
*/
.c-nav__dropdown {
	@include list-unstyled;
	display: none;
	padding-left: $spacing-unit;

	& .c-nav__dropdown {
		padding-left: $spacing-unit;
	}

	.c-nav__link {
		padding: halve($spacing-unit) $spacing-unit;
		text-transform: none;
	}

	& .c-nav__dropdown--toggle {
		display: none;
	}

	@include media-breakpoint-up(sm) {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: color('black');
		box-shadow: 0 0 15px transparentize(color('black'), 0.5);
		width: 280px;
		text-align: left;
		z-index: 9999;
		padding-left: 0;

		& .c-nav__dropdown {
			padding-left: 0;
		}

		.c-nav__item {
			display: block;

			&:not(:last-child) {
				border-bottom: 1px solid rgba(color('accent-3'), .3);
			}

			&.c-nav__item--active > .c-nav__link {
				color: color('accent-3');
				border-width: 1px;
			}
		}

		.c-nav__link {
			color: color('white');
			border: 0;

			@include link-states() {
				color: color('accent-3');
				text-decoration: none;
			}
		}

		.c-nav__item--children > .c-nav__link::after {
			content: '';
			background-image: url('../img/angle-right.svg');
			float: right;
			background-size: 16px 16px;
			width: 16px;
			height: 16px;
			display: inline-block;
			transform: translate(3px, 5px);
		}

		/**
		* Sub Navigation Levels
		*/
		& .c-nav__dropdown {
			top: 0;
			left: 100%;
		}
	}
}

.c-nav__item--children > .c-nav__link::after {
	content: '';
	background: transparent url('../img/angle-down.svg') no-repeat center;
	cursor: pointer;
	background-size: 16px 16px;
	width: 16px;
	height: 16px;
	display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

/**
* Mobile Navigation Icons
*/
.c-nav__icon {
	line-height: 0;
	display: block;
	border: 0;
	background-color: transparent;
	padding: 0;

	@include media-breakpoint-up(sm) {
		display: none;
	}
}

.c-nav__icon--padding {
	padding: $spacing-unit;
	width: 100%;
    text-align: right;
}

.c-nav__icon--open {
	color: color('accent-3');
	font-size: rem(28px);
	transition: all .5s ease-in-out;

	@include link-states() {
		color: color('black');
	}
}

.c-nav__icon--close {
	color: color('accent-3');
	font-size: rem(28px);
	transition: all .5s ease-in-out;

	@include link-states() {
		color: color('black');
	}
}

.left .c-nav__dropdown .c-nav__dropdown {
	top: 0;
	left: -100%;
}
