@include media-breakpoint-down(xs) {

	.c-nav {
		width: 350px;
		height: 100%;
		position: fixed;
		top: 0;
		right: 0;
		background-color: color('accent-1');
		overflow: scroll;
		-webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
		transform: translateX(350px);
		transition: transform 300ms ease-in-out;
		z-index: 9999;
		visibility: hidden;
	}

	.c-nav::-webkit-scrollbar {
		display: none;
	}

	.is-active .c-nav {
		transform: translateX(0);
		visibility: visible;
	}

	.c-nav__mask {
		position: fixed;
		z-index: 1000;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 0;
		height: 0;
		background: rgba(0, 0, 0, .9);
		opacity: 0;
		transition: opacity .3s, width 0s .3s, height 0s .3s;
	}

	.is-active .c-nav__mask {
		width: 100%;
		height: 100%;
		opacity: .9;
		transition: opacity .3s;
	}
}
