/*------------------------------------*\
    #SOCIAL
\*------------------------------------*/

	.c-social__item {
		display: inline-block;
	}

		.c-social__link {
			display: block;
			transition: all .5s ease-in-out;
			padding: quarter($spacing-unit) halve($spacing-unit);
			font-size: rem(24px);
			color: color('accent-3');
			text-decoration: none;

			@include link-states() {
				color: color('white');
			}
		}
