/*------------------------------------*\
    #SERVICES
\*------------------------------------*/

.c-services__icon {
    max-width: 46px;
    margin: halve($spacing-unit) auto;
}

.c-services__description {
    background-color: color('accent-1');
    padding: $spacing-unit double($spacing-unit);
    color: color('white');
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all .5s ease-in-out;
    @include flexbox-block();
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-services__img {
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: all .5s ease;
    transform: scale(1);
    transform-origin: 50% 50%;
}

.c-services__block {
    position: relative;
    z-index: 10;
    height: 400px;
    border: 1px solid color('accent-3');
    @include flexbox-block();
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: $spacing-unit;

    @include link-states() {

        & .c-services__description {
            opacity: 1;
        }
    }
}

.c-services__text {
    max-width: 900px;
}

.c-services__list {
    display: grid;
    grid-gap: rem(20px);
    margin-top: $spacing-unit;

    @include media-breakpoint-up(sm) {
        grid-gap: rem(30px);
        margin-top: triple($spacing-unit);
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-services__item {
    padding: double($spacing-unit);
}

