/*------------------------------------*\
    #TEAM
\*------------------------------------*/

.c-team__blocks {
    display: grid;
    grid-gap: rem(20px);
    margin-top: $spacing-unit;

    @include media-breakpoint-up(xs) {
        grid-gap: rem(30px);
        grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(md) {
        margin-top: triple($spacing-unit);
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-team__item {
    position: relative;

    & .c-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
        opacity: 0;
        transition: all .5s ease-in;
    }

    .c-team__img {
        transition: all .5s ease-in;
        opacity: 1;
        width: 100%;
        height: 400px;
        object-fit: cover;
    } 
}

.c-team__block {
    position: relative;
    background-color: color('accent-1');
    box-shadow: 0 0 40px rgba(color('black'), .2);

    @include link-states() {
        
        & .c-team__info {
            background-color: color('accent-1');
        }

        & .c-btn {
            opacity: 1;
        }

        & .c-team__img {
            opacity: .3;
        }

        & .c-team__title {
            color: color('white');
        }
    }
}

.c-team__info {
    text-align: center;
    padding: double($spacing-unit) $spacing-unit;
    background-color: color('white');
    z-index: 10;
    transition: all .5s ease-in;
}

.c-team__title {
    transition: all .5s ease-in;
    font-size: rem(32px);
}

.c-team__subtitle {
    font-size: rem(26px);
}

.c-team__staff-items {
    display: grid;
    grid-gap: rem(30px);

    @include media-breakpoint-up(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.c-team__staff-item {
    position: relative;
}

.c-team__staff-description {
    background-color: color('black');
    padding: $spacing-unit;
    position: relative;
    text-align: center;

    @include media-breakpoint-up(sm) {
        padding: double($spacing-unit);
    }
}

