/*------------------------------------*\
    #TABS
\*------------------------------------*/

.c-tab__nav {
	margin-bottom: halve($spacing-unit);
	border-bottom: 1px solid lighten(color('accent-1'), 45%);
}

	.c-tab__item {
		margin-right: 2px;
	}

		.c-tab__link {
			display: inline-block;
			padding: halve($spacing-unit) $spacing-unit;
			border: 1px solid transparent;

			&:hover {
				background-color: lighten(color('accent-1'), 45%);
			}

			&.active {
				border: 1px solid lighten(color('accent-1'), 45%);
				border-bottom-color: transparent;
				background-color: #f1f1f1;
			}
		}

.c-tab__content {
	display: none;
	padding-right: $spacing-unit;
	padding-left: $spacing-unit;
}
