/*------------------------------------*\
    #TABLES
\*------------------------------------*/

table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-spacing: 0;
	border-collapse: collapse;
}

table tr > td,
table tr > th {
	padding: halve($spacing-unit);
	line-height: $base-line-height;
	vertical-align: top;
	border-top: 1px solid lighten(color('accent-1'), 45%);
	text-align: left;
}
