/*------------------------------------*\
    #VIDEO
\*------------------------------------*/

.c-video__block {
    position: relative;
}

.c-video__link {
    display: block;
}

.c-video__image {
    width: 100%;
}

.c-video__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: halve($spacing-unit) $spacing-unit;
    background-color: color('accent-1');
    color: color('white');
    font-size: rem(24px);

    @include media-breakpoint-up(sm) {
        padding: $spacing-unit double($spacing-unit);
    }
}


