// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

.o-container {
  @include make-container();
  @include make-container-max-widths();
}


// Row
//
// Rows contain and clear the floats of your columns.
.o-row {
  @include make-row();
}

.o-row.reverse {
  @include flex-direction(row-reverse);
}

.o-row.col-reverse {
  @include flex-direction(column-reverse);
}

// Columns
//
// Common styles for small and large grid columns
@include make-grid-columns();

.o-col {
    @include flex-grow(1);
    @include flex-basis(0);
    max-width: 100%;
    // Inner gutter via padding
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

@include make-flexbox-props();