/*------------------------------------*\
	#IMAGE UTILITIES
\*------------------------------------*/

/**
* Generate image border color classes for each color in $colors
*/
@each $color, $value in $colors {

	.u-img--border-#{$color} {
		border: 1px solid $value;
	}

}

.u-img--rounded {
	border-radius: 10px;
}

.u-img--circle {
	border-radius: 50%;
}

.u-img--shadow {
	box-shadow: 0 0 10px rgba(color('black'), .5);
}

.u-img--full {
	width: 100%;
}

.u-img--half {
	width: 50%;
}

.u-img--third {
	width: 30%;
}

.u-img--quarter {
	width: 20%;
}


