/*------------------------------------*\
    #TEXT UTILITES
\*------------------------------------*/

.u-text--block {
	display: block;
}

.u-text--letter-spacing {
	letter-spacing: 0.1em;
}

.u-text--sm {
	line-height: 1;
	font-size: rem(20px);
    font-weight: font-weight('medium');

	@include media-breakpoint-up(md) {
        font-size: rem(24px);
    }
}

.u-text--md {
	line-height: 1;
	font-weight: font-weight('bold');
	font-size: rem(42px);

	@include media-breakpoint-up(sm) {
        font-size: rem(64px);
    }
}

.u-text--xl {
	line-height: 1;
	font-weight: font-weight('bolder');
	font-size: rem(48px);

	@include media-breakpoint-up(sm) {
        font-size: rem(92px);
    }
}

.u-text--line {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: $font-family-primary;

    @include media-breakpoint-up(lg) {
    	text-wrap: nowrap;
    }


	&::before,
	&::after {
		content: '';
		width: 50px;
		height: 2px;
		background-color: color('accent-2');

		@include media-breakpoint-up(sm) {
			width: 50%;
		}
	}

	&::before {
		margin-right: $spacing-unit;
	}

	&::after {
		margin-left: $spacing-unit;
	}
}

.u-text--line-white {
	&::before,
	&::after {
		background-color: color('white');
	}
}

.u-text--line-left-hide {
	justify-content: flex-start;

	&::before {
		display: none;
	}

	&::after {
		width: 100%;
	}
}

.u-text--line-right-hide {
	justify-content: flex-start;

	&::after {
		display: none;
	}

	&::before {
		width: 100%;
	}
}

/**
* Generate text-transform classes for each text-transform in $text-transforms
*/
@each $text-transform, $value in $text-transforms {

	.u-text--#{$text-transform} {
		text-transform: $value;
	}

}

/**
* Generate font-style classes for each font-style in $font-styles
*/
@each $font-style, $value in $font-styles {

	.u-text-style--#{$font-style} {
		font-style: $value;
	}

}

/**
* Generate text-align classes for each text-align in $text-aligns
*/
@each $text-align, $value in $text-aligns {

	.u-text--#{$text-align} {
		text-align: $value;
	}

}

/**
* Generate color classes for each color in $colors
*/
@each $color, $value in $colors {

	.u-text--#{$color} {
		color: $value;
	}

}

// Responsive Color
//
// Add color classes based on breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {

	@include media-breakpoint-up($breakpoint) {
		
		@each $color, $value in $colors {

			.u-text-#{$breakpoint}--#{$color} {
				color: $value;
			}

		}
	}
}



/**
* Generate font-weight classes for each font-weight in $font-weights
*/
@each $font-weight, $value in $font-weights {

	.u-text--#{$font-weight} {
		font-weight: $value;
	}

}

// Responsive Alignment
//
// Add align classes based on breakpoints
@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		.u-text-#{$breakpoint}--left { text-align: left; }
		.u-text-#{$breakpoint}--right { text-align: right; }
		.u-text-#{$breakpoint}--center { text-align: center; }
	}
}
