//Components
@forward "global/header";
@forward "global/footer";
@forward "global/_home-sidebar";

// Import Tailwind CSS
@use "tailwind";
@import "../../_dist/css/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles here */

* {
    @apply antialiased;
}

*:last-child {
    @apply mb-0;
}

html {
    @apply text-[100%] lg:text-[0.8333vw] 3xl:text-[16px];
    margin: 0 !important;
}

body {
    @apply text-[1.125rem]/[1.5] font-normal max-sm:text-[1rem];
    font-family: "source-sans-pro", sans-serif !important;
    color: #3B3B3B;
}

.container-sm {
    @apply max-w-[80rem] mx-auto;
    @apply pb-[var(--container-bottom-padding)] pl-[var(--container-left-padding)] pr-[var(--container-right-padding)] pt-[var(--container-top-padding)];
    @apply sm:pb-[var(--container-sm-bottom-padding)] sm:pl-[var(--container-sm-left-padding)] sm:pr-[var(--container-sm-right-padding)] sm:pt-[var(--container-sm-top-padding)];
    @apply lg:pb-[var(--container-lg-bottom-padding)] lg:pl-[var(--container-lg-left-padding)] lg:pr-[var(--container-lg-right-padding)] lg:pt-[var(--container-lg-top-padding)];
}

small,
sup {
    @apply text-[60%];
}

small sup {
    @apply font-medium;
}

h1,
.h1 {
    /* 38px */
    @apply text-[2.375rem] font-archivo;
    font-weight: 600;
    font-style: normal;

    /* 48px */
    @apply sm:text-[3rem];

    /* 54px */
    @apply leading-[1.1] lg:text-[3.374rem];
}

h2,
.h2 {
    /* 38px */
    @apply text-[2.375rem] font-archivo;
    font-weight: 600;
    font-style: normal;

    /* 48px */
    @apply sm:text-[3rem];

    /* 54px */
    @apply leading-[1.1] lg:text-[3.374rem];
}

h3,
.h3 {
    /* 24px */
    @apply text-[2rem] font-archivo;

    /* 28px */
    @apply sm:text-[2.25rem];

    /* 28px */
    @apply leading-[1.1] lg:text-[2.25rem];
}

h4,
.h4 {
    /* 22px */
    @apply text-[1.375rem] font-archivo;

    /* 28px */
    @apply sm:text-[1.75rem];

    /* 24px */
    @apply leading-[1.3] lg:text-[1.5rem];
}

h5,
.h5 {
    /* 21px */
    @apply text-[1.3125rem] font-archivo;

    /* 26px */
    @apply font-normal leading-normal md:text-[1.625rem];
    color: #072543;
}

h6,
.h6 {
    /* 16px */
    @apply leading-[1.5] text-[1rem] font-archivo;
    color: #072543;
}

.vertical-border {
    position: relative;
    padding-left: 2rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        background: linear-gradient(180deg, #FAF1A7 0%, #9F692E 101.96%);
    }
}

.subtitle {
    @apply text-[1.7rem]/[130%] font-normal max-sm:text-[1.5rem];
}

.horizonal-border {
    position: relative;
    padding-left: 2rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        background: linear-gradient(180deg, #FAF1A7 0%, #9F692E 101.96%);
    }
}



.large-text {
    /* 22px */
    @apply text-[1.375rem];

    /* 26px */
    @apply sm:text-[1.625rem];

    /* 42px */
    @apply md:text-[2.625rem] tracking-[0.0476em];
}

.display-text {
    /* 55px */
    @apply text-[3.4375rem] leading-[1.01];

    /* 80px */
    @apply md:text-[4.5rem];

    /* 120px */
    @apply lg:text-[6.5rem] sm:leading-[0.9] uppercase -tracking-[1px];

    @apply 4xl:text-[7.5rem];
}

p {
    @apply mb-[var(--paragraph-bottom-margin)] font-normal;
}

a {
    @apply cursor-pointer;
}

a:not(.button),
.link,
.link * {
    @apply transition duration-[600ms];
}

.link {
    @apply cursor-pointer;
}

strong {
    @apply font-medium;
}

@layer components {

    /* Editor */
    .content ol,
    .content ul {
        @apply mb-[var(--paragraph-bottom-margin)] pl-[30px];
    }

    .content ol {
        @apply list-decimal pl-[0.5em] pt-[0.6em];
    }

    .content ul {
        @apply list-none pl-[0.5em] pt-[0.6em];
    }

    .content ul li,
    .content ol li {
        @apply relative pl-[0.8em] font-sans leading-[1.5] text-[18px];
    }

    .content ul li::before {
        @apply absolute left-0 size-1.5 -translate-y-1/2 rounded-full bg-current content-[''];
        top: calc(0.4em * 2);
    }

    .content a,
    p a,
    a.wp-block-button__link {
        @apply font-normal underline text-[18px];


    }

    .content strong,
    .content b {
        @apply font-medium;
    }

    .content sup {
        @apply top-[-1em] text-[40%];
    }

    .content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply capitalize mb-3 font-archivo font-bold mt-9;
        }

        h2 {
            @apply text-[2.125rem] sm:text-[2.75rem] lg:text-[2.625rem];
        }

        h3 {
            @apply text-[1.75rem] sm:text-[2.25rem] lg:text-[1.75rem];

        }

        h4 {
            @apply text-[1.5rem] sm:text-[2rem] lg:text-[1.5rem];
        }

        p {
            @apply font-sans leading-[1.5] text-[18px];
        }

        img {
            width: auto;
            height: auto;
        }
    }

    .content-column {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
        }
    }

    .content iframe {
        @apply w-full h-auto aspect-video;
    }

    /* Container */
    .container {
        @apply max-w-[108rem] mx-auto;
        @apply pb-[var(--container-bottom-padding)] pl-[var(--container-left-padding)] pr-[var(--container-right-padding)] pt-[var(--container-top-padding)];
        @apply sm:pb-[var(--container-sm-bottom-padding)] sm:pl-[var(--container-sm-left-padding)] sm:pr-[var(--container-sm-right-padding)] sm:pt-[var(--container-sm-top-padding)];
        @apply lg:pb-[var(--container-lg-bottom-padding)] lg:pl-[var(--container-lg-left-padding)] lg:pr-[var(--container-lg-right-padding)] lg:pt-[var(--container-lg-top-padding)];
    }

    .container.collapse-right {
        @apply pr-0 3xl:pr-[var(--container-right-padding)];
    }

    .container.collapse-left {
        @apply pl-0 3xl:pl-[var(--container-left-padding)];
    }

    .container.collapse-both {
        @apply px-0 3xl:pl-[var(--container-left-padding)] 3xl:pr-[var(--container-right-padding)];
    }

    /* Image Zoom */
    .image-zoom {
        @apply scale-[var(--image-zoom)];
    }

    .swiper-button-disabled {
        @apply opacity-50;
    }

    img {
        @apply w-auto h-auto object-cover;
    }

    /* Buttons */
    .gradient-border-button {
        padding: 12px 24px;
        font-weight: 700;
        background-color: transparent;
        color: #111110;
        font-size: 18px;
        text-transform: uppercase;
        border: 4px solid transparent;
        cursor: pointer;
        border-image-source: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
        border-image-slice: 1;
        transition: none !important;
        transition-duration: 0s !important;


        &:hover {
            background: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
            color: #FFFFFF;
        }
    }

    button {
        @apply cursor-pointer;
    }

    .button {
        @apply overflow-hidden text-white text-center uppercase font-archivo font-bold transition-colors duration-200 text-[18px] lg:text-[20px] leading-normal lg:px-[40px] lg:py-[20px] px-6 py-4 max-sm:w-full;
        display: inline-flex;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
        color: #FFFFFF !important;
        font-feature-settings: 'liga' off, 'clig' off;

        &:hover {
            background: linear-gradient(180deg, #1a9a9b 0%, #0d2f32 100%);
        }


    }

    .sidebar .wpforms-submit-container button.wpforms-submit {
        @apply overflow-hidden text-white text-center uppercase font-archivo !font-bold transition-colors duration-200 text-[16px] leading-normal;
        display: inline-flex;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
        color: #FFFFFF !important;
        font-feature-settings: 'liga' off, 'clig' off;
        font-weight: 700;

        transition: filter 0.2s ease;

        &:hover {
            filter: brightness(1.2);
            background: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);

        }
    }

    .gradient-blue {
        background: linear-gradient(90deg, rgba(0, 47, 82, 1) 40%, rgba(255, 255, 255, 0) 100%);

        @media (max-width: 1024px) {
            background: unset;
        }
    }
    .hero-section {
       .ti-widget  {
    max-width: max-content;
    width: 100%;
}
    }   

    .hero-overlay {
        background: rgba(17, 17, 16, 0.73);
        mix-blend-mode: multiply;
    }

    .person-content-overlay {
        background: linear-gradient(180deg, rgba(17, 17, 16, 0) 0%, rgba(17, 17, 16, 0.78) 52.63%, #101010 100%);
        background-blend-mode: multiply;
        z-index: 3;
    }

    .swiper-pagination {
        bottom: 2rem !important;

        .swiper-pagination-bullet {
            @apply w-[15px] h-[15px] rounded-full bg-white opacity-100;

            &.swiper-pagination-bullet-active {
                @apply bg-light-gold;
            }
        }
    }

    .blog-item {

        .colapseble {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease;


        }

        &:hover .colapseble {
            grid-template-rows: 1fr;
            transition: all 0.3s ease-in-out;
        }

    }

    .blog-section {
        background-size: 100% 100%;
    }

    .left-divider {
        @apply relative;
        padding-left: 0.5rem;
        display: flex;


        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #fff;

        }
    }

    .accordion-item {
        .accordion-header {
            @apply relative cursor-pointer;

            &::after {
                content: '';
                @apply absolute right-0 top-1/2 -translate-y-1/2 w-[22px] h-[22px];
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='none'%3E%3Cpath d='M9.78625 11.8804H0V9.78625H9.78625V0H11.8804V9.78625H21.6667V11.8804H11.8804V21.6667H9.78625V11.8804Z' fill='%23FAF1A7'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }

        .accordion-content-container {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease;

            .accordion-content {
                overflow: hidden;
                padding-top: 0;
                transition: all 0.3s ease;
            }
        }

        &.active-accordion {
            .accordion-header::after {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='3' viewBox='0 0 19 3' fill='none'%3E%3Cpath d='M0 2.09417V0H18.3333V2.09417H0Z' fill='%23FAF1A7'/%3E%3C/svg%3E");
            }

            .accordion-content-container {
                grid-template-rows: 1fr;
            }

            .accordion-content {
                padding-top: 24px;
            }
        }
    }

    .form-shortcode {
        .wp-contact-form {
            @apply grid gap-4;

            label {
                color: #fff !important;
            }

            input,
            textarea {
                background-color: transparent !important;
                border: none !important;
                border-bottom: 1px solid #FAF1A7 !important;
                outline: none !important;
                transition: border-color 0.3s ease !important;
                color: #fff !important;
                resize: vertical;



                &:focus {
                    border: 1px solid #FFD700 !important;
                    box-shadow: none !important;
                }
            }

            .wpforms-field {

                margin-bottom: 0rem;

                .wpforms-field-label {
                    margin-bottom: 0px !important;
                }
            }
        }

    }

    .item-area {
        @apply bg-[#F5F5F5] text-dark px-4 py-5 w-full flex items-center justify-between text-[16px] leading-[150%] tracking-[2.4px] uppercase font-bold font-archivo !duration-0;

        &:hover {
            @apply bg-gradient-to-b from-[#16898A] to-[#0C2A2D] text-white;
        }
    }

    .footer-widget-column {
        p {
            @apply font-pontano
        }

        a {
            @apply font-pontano font-semibold;
        }

        color: #fff;
        padding-right: 2rem;

        &:not(:last-child) {
            border-right: 1px solid #FAF1A7;

        }

        &:nth-of-type(2) {
            padding-left: 2rem;
        }

        &:last-child {
            padding-right: 0;
            padding-left: 2rem;
        }

        h4 {
            color: #FAF1A7;
            font-size: 12.637px;
            font-weight: 700;
            line-height: 14.217px;
            letter-spacing: 1.643px;
            text-transform: uppercase;
            margin-bottom: 1rem;
        }

        h3 {
            color: var(--White, #FFF);
            font-size: 13.087px;
            font-weight: 900;
            line-height: 16px;
            letter-spacing: 1.636px;
            text-transform: uppercase;
        }

        p {
            color: #FFF;
            font-size: 14.217px;
            font-weight: 500;
            line-height: 18.166px;
        }

        @media (max-width: 768px) {
            padding-right: 0;
            padding-left: 0;
            text-align: center;

            &:not(:last-child) {
                border-right: none;
            }

            &:nth-of-type(2) {
                padding-left: 0;

            }
        }

        .call-us {
            a {
                color: var(--CTA, #16898A);
                font-size: 37.626px;
                font-weight: 400;
                line-height: 39.835px;
                text-transform: capitalize;
            }
        }

        .footer-grid-links {




            ul {
                @apply my-10 px-5;

                li {
                    @apply mb-2 text-center;

                    a {
                        color: #fff;
                    }
                }
            }
        }





    }

    .footer-grid-links {

        place-content: start;

        li {
            a {
                @apply font-pontano font-normal text-[1rem];

            }

            @apply text-center
        }

        div:nth-child(2) {
            ul {
                @apply border-l-[1px] border-[#ffffff];
            }
        }

        div:nth-child(3) {
            ul {
                @apply border-l-[1px] border-[#fffff];
            }
        }

    }

    .two-col-section {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 21px;
        }
    }
}

.widget__widget_nav_menu {
    .menu {
        @apply text-center;
    }
}

.home {
    .ti-widget-container {


        .ti-reviews-container {
            display: flex !important;
            flex-direction: column;
        }

        .ti-controls {
            position: initial !important;
            display: flex !important;
            height: auto !important;
            order: 3;
            margin-top: 30px !important;
            gap: 26px !important;
            justify-content: flex-end;
            align-items: center !important;
            gap: 30px !important;

            &:before {
                content: '' !important;
                background: linear-gradient(180deg, #FAF1A7 0%, #9F692E 101.96%);
                display: block;
                width: 100%;
                height: 10px;
                order: -2;
                margin-right: 30px;
            }



            .ti-next {
                display: block !important;
                position: relative !important;


                &:before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 17px;
                    height: 16px;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M9.40671e-07 8.94267L12.9167 8.94267L8.66321 13.3333L10.4896 15.2187L16.0347 9.49467C16.519 8.9946 16.7911 8.31644 16.7911 7.60934C16.7911 6.90223 16.519 6.22408 16.0347 5.724L10.4896 8.72838e-07L8.66321 1.88534L12.9167 6.276L7.07543e-07 6.276L9.40671e-07 8.94267Z' fill='white'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    border: none !important;
                    transform: translate(-50%, -50%) rotate(0deg) !important;
                    width: 17px !important;
                    height: 16px !important;
                }
            }

            .ti-prev {
                display: block !important;
                position: relative !important;
                order: -1;
                margin-right: 26px;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(0deg) !important;
                    width: 17px !important;
                    height: 16px !important;
                    border: none !important;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='16' viewBox='0 0 17 16' fill='none'%3E%3Cpath d='M16.7911 6.276H3.87445L8.12791 1.88533L6.30149 0L0.756365 5.724C0.272065 6.22407 0 6.90223 0 7.60933C0 8.31644 0.272065 8.99459 0.756365 9.49467L6.30149 15.2187L8.12791 13.3333L3.87445 8.94267H16.7911V6.276Z' fill='white'/%3E%3C/svg%3E");
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }

            .ti-prev,
            .ti-next {
                width: 43px !important;
                height: 43px !important;
                background: linear-gradient(90deg, #FAF1A7 0%, #9F692E 100%);
                border: 0px !important;
                border-radius: 0% !important;
                outline-color: transparent !important;
            }



        }
    }
}