//Components
@forward "global/header";
@forward "global/footer";
@forward "global/_home-sidebar";

// Import Tailwind CSS
@use "tailwind";
@import "../../_dist/css/variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles here */

* {
    @apply antialiased;
}

*:last-child {
    @apply mb-0;
}

html {
    @apply text-[100%] lg:text-[0.8333vw] 3xl:text-[16px];
}

body {
    @apply text-[1.25rem]/[1.25] font-normal;
    font-family: "source-sans-pro", sans-serif !important;
    color: #3B3B3B;
}

.container-sm {
    @apply max-w-[80rem] mx-auto;
    @apply pb-[var(--container-bottom-padding)] pl-[var(--container-left-padding)] pr-[var(--container-right-padding)] pt-[var(--container-top-padding)];
    @apply sm:pb-[var(--container-sm-bottom-padding)] sm:pl-[var(--container-sm-left-padding)] sm:pr-[var(--container-sm-right-padding)] sm:pt-[var(--container-sm-top-padding)];
    @apply lg:pb-[var(--container-lg-bottom-padding)] lg:pl-[var(--container-lg-left-padding)] lg:pr-[var(--container-lg-right-padding)] lg:pt-[var(--container-lg-top-padding)];
}

small,
sup {
    @apply text-[60%];
}

small sup {
    @apply font-medium;
}

h1,
.h1 {
    /* 38px */
    @apply text-[2.375rem] font-archivo;
    font-weight: 600;
    font-style: normal;

    /* 48px */
    @apply sm:text-[3rem];

    /* 54px */
    @apply leading-[1.1] lg:text-[3.374rem];
}

h2,
.h2 {
    /* 38px */
    @apply text-[2.375rem] font-archivo;
    font-weight: 600;
    font-style: normal;

    /* 48px */
    @apply sm:text-[3rem];

    /* 54px */
    @apply leading-[1.1] lg:text-[3.374rem];
}

h3,
.h3 {
    /* 24px */
    @apply text-[2rem] font-archivo;

    /* 28px */
    @apply sm:text-[2.25rem];

    /* 28px */
    @apply leading-[1.1] lg:text-[2.25rem];
}

h4,
.h4 {
    /* 22px */
    @apply text-[1.375rem] font-archivo;

    /* 28px */
    @apply sm:text-[1.75rem];

    /* 24px */
    @apply leading-[1.3] lg:text-[1.5rem];
}

h5,
.h5 {
    /* 21px */
    @apply text-[1.3125rem] font-archivo;

    /* 26px */
    @apply font-normal leading-normal md:text-[1.625rem];
    color: #072543;
}

h6,
.h6 {
    /* 16px */
    @apply leading-[1.5] text-[1rem] font-archivo;
    color: #072543;
}

.vertical-border {
    position: relative;
    padding-left: 2rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        background: linear-gradient(180deg, #FAF1A7 0%, #9F692E 101.96%);
    }
}

.subtitle {
    @apply text-[1.7rem]/[130%] font-normal;
}

.horizonal-border {
    position: relative;
    padding-left: 2rem;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 10px;
        background: linear-gradient(180deg, #FAF1A7 0%, #9F692E 101.96%);
    }
}

.subtitle {
    @apply text-[1.7rem]/[130%];
}

.large-text {
    /* 22px */
    @apply text-[1.375rem];

    /* 26px */
    @apply sm:text-[1.625rem];

    /* 42px */
    @apply md:text-[2.625rem] tracking-[0.0476em];
}

.display-text {
    /* 55px */
    @apply text-[3.4375rem] leading-[1.01];

    /* 80px */
    @apply md:text-[4.5rem];

    /* 120px */
    @apply lg:text-[6.5rem] sm:leading-[0.9] uppercase -tracking-[1px];

    @apply 4xl:text-[7.5rem];
}

p {
    @apply mb-[var(--paragraph-bottom-margin)] font-normal;
}

a {
    @apply cursor-pointer;
}

a:not(.button),
.link,
.link * {
    @apply transition duration-[600ms];
}

.link {
    @apply cursor-pointer;
}

strong {
    @apply font-medium;
}

@layer components {

    /* Editor */
    .content ol,
    .content ul {
        @apply mb-[var(--paragraph-bottom-margin)] pl-[30px];
    }

    .content ol {
        @apply list-decimal pl-[0.5em] pt-[0.6em];
    }

    .content ul {
        @apply list-none pl-[0.5em] pt-[0.6em];
    }

    .content ul li,
    .content ol li {
        @apply relative pl-[0.8em] font-sans leading-[1.5] text-[18px];
    }

    .content ul li::before {
        @apply absolute left-0 size-1.5 -translate-y-1/2 rounded-full bg-current content-[''];
        top: calc(0.4em * 2);
    }

    .content a,
    p a,
    a.wp-block-button__link {
        @apply font-normal underline text-[18px];


    }

    .content strong,
    .content b {
        @apply font-medium;
    }

    .content sup {
        @apply top-[-1em] text-[40%];
    }

    .content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            @apply capitalize mb-4 font-archivo;
        }

        h2 {
            @apply text-[2.125rem] sm:text-[2.75rem] lg:text-[2.625rem];
        }

        h3 {
            @apply text-[1.75rem] sm:text-[2.25rem] lg:text-[2.425rem];
        }

        h4 {
            @apply text-[1.5rem] sm:text-[2rem] lg:text-[3.1rem];
        }

        p {
            @apply font-sans leading-[1.5] text-[18px];
        }

        img {
            width: auto;
            height: auto;
        }
    }

    .content-column {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
        }
    }

    .content iframe {
        @apply w-full h-auto aspect-video;
    }

    /* Container */
    .container {
        @apply max-w-[108rem] mx-auto;
        @apply pb-[var(--container-bottom-padding)] pl-[var(--container-left-padding)] pr-[var(--container-right-padding)] pt-[var(--container-top-padding)];
        @apply sm:pb-[var(--container-sm-bottom-padding)] sm:pl-[var(--container-sm-left-padding)] sm:pr-[var(--container-sm-right-padding)] sm:pt-[var(--container-sm-top-padding)];
        @apply lg:pb-[var(--container-lg-bottom-padding)] lg:pl-[var(--container-lg-left-padding)] lg:pr-[var(--container-lg-right-padding)] lg:pt-[var(--container-lg-top-padding)];
    }

    .container.collapse-right {
        @apply pr-0 3xl:pr-[var(--container-right-padding)];
    }

    .container.collapse-left {
        @apply pl-0 3xl:pl-[var(--container-left-padding)];
    }

    .container.collapse-both {
        @apply px-0 3xl:pl-[var(--container-left-padding)] 3xl:pr-[var(--container-right-padding)];
    }

    /* Image Zoom */
    .image-zoom {
        @apply scale-[var(--image-zoom)];
    }

    .swiper-button-disabled {
        @apply opacity-50;
    }

    img {
        @apply w-auto h-auto object-cover;
    }

    /* Buttons */
    .gradient-border-button {
        padding: 12px 24px;
        font-weight: 700;
        background-color: transparent;
        color: #111110;
        font-size: 18px;
        text-transform: uppercase;
        border: 4px solid transparent;
        cursor: pointer;
        border-image-source: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
        border-image-slice: 1;
        transition: none !important;
        transition-duration: 0s !important;


        &:hover {
            background: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
            color: #FFFFFF;
        }
    }

    button {
        @apply cursor-pointer;
    }

    .button {
        @apply overflow-hidden text-white text-center uppercase font-archivo font-bold transition-colors duration-200 text-[20px] leading-normal;
        display: inline-flex;
        padding: 20px 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: linear-gradient(180deg, #16898A 0%, #0C2A2D 100%);
        color: #FFFFFF;
        font-feature-settings: 'liga' off, 'clig' off;

        &:hover {
            background: linear-gradient(180deg, #1a9a9b 0%, #0d2f32 100%);
        }
    }

    .gradient-blue {
        background: linear-gradient(90deg, rgba(0, 47, 82, 1) 40%, rgba(255, 255, 255, 0) 100%);

        @media (max-width: 1024px) {
            background: unset;
        }
    }

    .hero-overlay {
        background: rgba(17, 17, 16, 0.73);
        mix-blend-mode: multiply;
    }

    .person-content-overlay {
        background: linear-gradient(180deg, rgba(17, 17, 16, 0) 0%, rgba(17, 17, 16, 0.78) 52.63%, #101010 100%);
        background-blend-mode: multiply;
        z-index: 3;
    }

    .swiper-pagination {
        bottom: 2rem !important;

        .swiper-pagination-bullet {
            @apply w-[15px] h-[15px] rounded-full bg-white opacity-100;

            &.swiper-pagination-bullet-active {
                @apply bg-light-gold;
            }
        }
    }

    .blog-item {

        .colapseble {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease;


        }

        &:hover .colapseble {
            grid-template-rows: 1fr;
            transition: all 0.3s ease-in-out;
        }

    }

    .blog-section {
        background-size: 100% 100%;
    }

    .left-divider {
        @apply relative;
        padding-left: 0.5rem;
        display: flex;


        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 1px;
            background: #fff;

        }
    }

    .accordion-item {
        .accordion-header {}

        .accordion-content-container {
            display: grid;
            grid-template-rows: 0fr;
            transition: all 0.3s ease;

            .accordion-content {
                overflow: hidden;
                padding-top: 0;
                transition: all 0.3s ease;
            }
        }

        &.active-accordion {
            .accordion-content-container {
                grid-template-rows: 1fr;
            }

            .accordion-content {
                padding-top: 24px;
            }
        }
    }


}